@model CanTeenVLU.Models.CATEGORY

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="font-family:'Times New Roman', Times, serif">Chi tiết</h2>

<div>
    <h4 style="font-family:'Times New Roman', Times, serif">DANH MỤC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Mã danh mục</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_CODE)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Tên danh mục</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_NAME)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Hình ảnh</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGE_URL)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Trạng thái</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
