@model IEnumerable<CanTeenVLU.Models.ACCOUNT>

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tài khoản</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bảng danh sách tài khoản</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Hình ảnh</th>
                                <th>Họ tên</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PASSWORD)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FULL_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.STATUS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ROLE)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Hình ảnh</th>
                                <th>Họ tên</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</section>