@model CanTeenVLU.Models.FOOD

@{
    ViewBag.Title = "Tạo mới món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="font-family:'Times New Roman', Times, serif">Tạo mới</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="font-family:'Times New Roman', Times, serif">MÓN ĂN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Mã món ăn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FOOD_CODE, new { htmlAttributes = new { @class = "form-control", @required = true, @minLenght = "2", @maxLenght = "50" } })
                @Html.ValidationMessageFor(model => model.FOOD_CODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Tên món ăn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FOOD_NAME, new { htmlAttributes = new { @class = "form-control", @required = true, @minLenght = "6", @maxLenght = "50" } })
                @Html.ValidationMessageFor(model => model.FOOD_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Mô tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", @required = true, @minLenght = "10", @maxLenght = "1000000" } })
                @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control", @required = true, @minLenght = "100", @maxLenght = "1000000" } })
                @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IMG">Hình ảnh</label>
            <div class="col-md-4">
                <input class="form-control" type="file" name="Picture" id="IMG" onchange="readPicture(this)" accept="image/jpeg,image/gif,image/png,image/jpg" />
                <img id="Picture" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Trạng thái</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.STATUS)
                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" /> |
                @Html.ActionLink("Trở lại", "Index")
            </div>
        </div>
    </div>
}
<br />

@*@section Scripts {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#MotaSP',
            menubar: false
        });
        function readPicture(input) {
            if (input.files && input.files[0])
                var reader = new FileReader();
            reader.onload = function (e) {
                $('img#Picture').attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0])
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}*@