@model CanTeenVLU.Models.FOOD

@{
    ViewBag.Title = "Xoá món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="font-family:'Times New Roman', Times, serif">Xoá món ăn</h2>
<hr />

<h3 style="font-family:'Times New Roman', Times, serif">Bạn có chắc chắn muốn xoá không?</h3>
<hr />
<div>
    <h4 style="font-family:'Times New Roman', Times, serif">MÓN ĂN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Mã món ăn</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOOD_CODE)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Tên món ăn</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOOD_NAME)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Mô tả</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Giá</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Hình ảnh</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGE_URL)
        </dd>

        <dt>
            <label class="control-label col-md-2" style="font-family:'Times New Roman', Times, serif" for="IMG">Trạng thái</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
